/* home.css */

.home-container {
    padding: 20px;
}

.home-header {
    text-align: center;
    margin-bottom: 50px;
}

.home-header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.home-header input {
    padding: 10px;
    width: 500px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.home-header input:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.property-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.property-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.property-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-details {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-details h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.property-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.property-details p strong {
    color: #333;
}

.property-footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .home-header input {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .home-header input {
        width: 100%;
    }

    .property-card {
        max-width: 100%;
    }
}
